<%- include ('_layouts/header') -%>
<center>




    <div>
      <i class="fa fa-map-marker" style="font-size: x-large;"></i>
        <p style="font-size: medium;">BML Munjal University, Haryana</p>
    </div>
<br>
    <div>
      <i  style="font-size:x-large;" class="fa fa-phone"></i>
      <p style="font-size: medium;" >8427966335, 9872049211</p>
    </div>
    <br>
    <div>
      <i style="font-size:x-large;" class="fa fa-envelope"></i>
      <p style="font-size: medium;" >xyz@abc.com </a></p>
      <br>
      <!-- <p style="font-size: medium;" > <b>Social Media Links -</b> </p> <a style="text-decoration: none;color: black;" href="https://www.instagram.com/bmlmunjaluniversity/"  target="_blank" ><i style="font-size: x-large;text-decoration: none;" class="fa fa-instagram"></i></a> -->
      


    </div>


</center>
<%- include ('_layouts/footer') -%>